* {
    margin: 0;
    padding: 0;
}

/* body {
     background: #999;
    font-family: 黑体; 
}  */

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

input {
    outline: none;
    border: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}